<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.springframework.ai.mcp.sample.server.dao.OrderInfoMapper">

    <select id="selectUserById" resultType="org.springframework.ai.mcp.sample.server.OrderInfo">
        SELECT * FROM orders WHERE id = #{id}
    </select>

    <!-- 插入订单信息 -->
    <insert id="insertUser" parameterType="org.springframework.ai.mcp.sample.server.OrderInfo">
        INSERT INTO order_info (
            order_id,
            contact_person,
            delivery_address,
            contact_phone,
            total_amount
        ) VALUES (
                     #{orderId},
                     #{contactPerson},
                     #{deliveryAddress},
                     #{contactPhone},
                     #{totalAmount}
                 )
    </insert>
</mapper>
